.fixed{
    display: flex;
    height: 100px;
    width: 500px;
    position: fixed;
    border-radius: 5px;
    background-color: aqua;
    border: 5px solid orange;
    justify-content: space-around;
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: x-large;
    box-shadow: 10px 10px 10px black;
    margin-top: 400px;
    margin-left: 400px;
   
}
.body{
    background-color: grey;
    border: 3px solid red;
    margin: 0px;
}
.rect{
    box-shadow: 10px 10px 10px black;
    width: 250px;
    height: 80px;
    border: 7px solid black ;
    background-color: white;
    border-radius: 7px;
    margin-left: 35.3%;
    font-style: italic;
    line-height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h3{
    color: chocolate;
    font-size: medium;
}
.parent{
    padding-bottom: -50px;
    border: 3px solid yellow;  
}
.parent1{
    display: flex;
    justify-content: space-between;
}
.parent2{
    display: flex;
    justify-content: space-between;
}

.box{
    box-shadow: 10px 10px 10px black;
    background-color: aliceblue;
    margin: 3px;
    height: 250px;
    width: 220px;
    border: 7px solid brown;
    border-radius: 7px;
    margin-bottom: 40px
}
img{
    height: 160px;
    width: 200px;
    margin-left: 10px;
    margin-top: 40px;
    border: 2px solid black;
}
h4{
    text-align: center;
    font-size: 25px;
    line-height: 35px;
    font-weight: bold;
}
h3{
    font-size: 23px;
    font-weight: bold;
}
h2{
    font-size: 25px;
}
button{
    border: 1px solid black;
    background-color: brown;
    border-radius: 20px;
}
.box4{
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 5px;
    line-height: 20px;
}
form{
    font-size: large;
    font-weight: bold;
}
.parent3{
    background-color: darkorange;
    border: 3px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 500px;
    width: 500px;
    margin-left: 35%;
}
.eat{
    height: 200px;
    width: 240px;
    background-color: whitesmoke;
}
.frts{
    display: flex;
}
.eat3{
    height: 200px;
    width: 490px;
    text-align: center;
}
.eat1{
    margin-right: 10px;
    text-align: center;
}
.eat2{
   text-align: center;
}
.veg{
    line-height: 10px;
}